.sort-panel {
  &__block {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 17px 0;
    align-items: baseline;
    background-color: var(--background-color-main);
  }
}

@media (max-width: 768px) {
  .sort-panel {
    &__block {
      display: block;
    }
  }
}