.newsletter {
  position: relative;
  padding: 135px 0 135px 0;
  background-image: url(/newsletter.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(40, 40, 40, 0.6);

  }
  &-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
  }

  &__title {
    color: var(--color-white);
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
  }

  &-description {
    display: flex;
    flex-direction: column;
    color: var(--color-white);
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 30px;
    &__strong {
      display: block;
      color: var(--color-white);
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 45px;
      text-transform: uppercase;

    }
  }

  &__subscribe {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &__text {
    border: none;
    color: var(--color-white);
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    font-size: 20px;
  }

  &__button {
    padding: 15px 0px 15px 0;
    background-color: var(--background-color-sort-and-button);
    color: var(--color-white);
    border: none;
    
    border-radius: 3px;
  }
}

.map {
  border-box: 7px;
}