body {
  // fonts
  --font-family-main: "Mulish", sans-serif;
  --font-family-submain: "Nunito", sans-serif;

  // font-color
  --color-white: #FFFFFF;
  --color-dark: #1E1E1E

  // background
  --background-color-main: #FFFFFF;
  --background-color-submain: #F9F9F9;
  --background-color-furnituire: #F0F0F0;
  --background-color-sort-and-button: #EC1F46;
  --background-color-footer: #1E1E1E;

  // sizes
  --header-height: 125px;
  --content-container-dekstop: 90vw;
}